/* build: pages/miscellany/old-fashioned-recipe/index.scss */
div.old-fashioned {
    margin-top: 1.25rem; // distance between content and masthead

    h1 {
        text-align: center;
        margin: 1.25rem;
    }

    a {
        color: $apple-messages-blue;
        text-decoration: none;
    }

    img {

    }
}
