/* build: pages/talks/index.scss */
div.talks-page {
    margin-top: 0; // distance between content and masthead

    h1 {
        color: white;
        text-align: center;
        line-height: 4rem;
    }

    div.talks-header {
        background-image: url(../img/talks/eric-carraway-geekdom.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        width: inherit;
        height: 300px;

        p {
            color: white;
            font-style: italic;
            margin-top: 2rem;
            padding: 1.2rem;
        }
    }
    a {
        // match the blue in the slide deck
        color: #28a4d9;
    }
    h2.talks-title {
        font-size: 1.1rem;
        font-weight: 600;
        letter-spacing: 0;

        // match the red in the chair
        color: #ce1a57;
    }
    small {
        font-size: .7rem;
        color: $gray-3;
        font-style: italic;
    }
    h4.talks-location {
        float: left;
        margin: 0;
        font-size: .9rem;
    }
    p.talks-date {
        float: right;
        font-size: .8rem;
        font-style: italic;
    }

    // clear: both;

    // center the iframe
    iframe {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

// somewhat of a work in progress...
@media (max-width: 608px) {
  div.talks-page div.talks-header {
    height: 150px;
  }
  div.talks-page div.talks-header p {
    color: white; // change for debugging
    margin-top: 0;
    padding: .8rem;
    font-size: .9rem;
  }
}
