/* build: pages/talks/index.scss */
div.talks-page {
    div.lead {
        text-align: center;
        font-size: 20px;
        letter-spacing: 0.2px;
    }
    p {
        font-size: 18px;
        letter-spacing: 0.2px;
    }
    span.date {

    }
    a {
        color: $strong-blue;
        text-decoration: none;
    }
}
