/* build: pages/miscellany/crustified-cast-iron-steak/index.scss */
div.steak-recipe {
    margin-top: 0; // distance between content and masthead

    div.steak-header {
        background-image: url(../steak-recipe/crustified-cast-iron-steak.jpg);
        background-size: 100%;
        background-repeat: no-repeat;

        width: inherit;
        height: 300px;

        h1 {
            padding-top: 3rem;
            text-align: center;
            color: white;
        }

        // #TODO: WIP - case study in responsiveness / background image / text color
        p {
            color: white;
            font-style: italic;
            margin-top: 0;
            padding: 1.2rem 3rem;
        }
    }

    div.text {
        height: 100%;
        background-color: rgba(255, 255, 255, 0.2); // frosting
    }

    .photo-credit {
        text-align: right;
        font-style: italic;
        font-size: 13px;
        color: $gray-3;
        margin-bottom: 0;
    }
}
