/* build: pages/code/codingbat-js/index.scss */
div.codingbat-page {
    p {
        font-size: 18px;
        letter-spacing: 0.2px;
    }
    a {
        color: $strong-blue;
        text-decoration: none;
    }
}
