/* build: pages/code/codingbat-js/index.scss */
div.codingbat-page {
    h1 {
        text-align: center;
        margin-bottom: 30px;
    }
    p {
        font-size: 18px;
        letter-spacing: 0.2px;
    }
    a {
        color: #268bd2;
        text-decoration: none;
    }
}
