<footer class="footer">
    <div class="container">
        <p class="text-muted">
            <a href="https://www.facebook.com/eric.carraway">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="https://github.com/ericcarraway">
                <i class="fa fa-github"></i>
            </a>
            <a href="https://plus.google.com/+EricCarraway">
                <i class="fa fa-google-plus"></i>
            </a>
            <a href="https://www.instagram.com/ericcarraway">
                <i class="fa fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/ericcarraway">
                <i class="fa fa-linkedin"></i>
            </a>
            <a href="https://www.pinterest.com/ericcarraway/">
                <i class="fa fa-pinterest"></i>
            </a>
            <a href="https://soundcloud.com/eric-carraway">
                <i class="fa fa-soundcloud"></i>
            </a>
            <a href="https://play.spotify.com/user/gpit354">
                <i class="fa fa-spotify"></i>
            </a>
            <a href="https://twitter.com/carrawayeric">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="https://vimeo.com/ericcarraway">
                <i class="fa fa-vimeo"></i>
            </a>
            <a href="https://www.youtube.com/user/gpit354">
                <i class="fa fa-youtube"></i>
            </a>
            <!-- https://myspace.com/gpit354 -->
            <!-- https://ericcarraway.wordpress.com -->
        </p>
    </div>
</footer>
