<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <meta name="description"
          content="Eric Carraway is a San Antonio Web Developer, Musician, and Educator">
    <meta name="author" content="Eric Carraway">
    <link rel="icon" href="../assets/img/favicon.ico">

    <title>
      {% if page.title %}
        Eric Carraway &middot; {{ page.title }}
      {% else %}
        Eric Carraway &middot; Web Developer
      {% endif %}
    </title>
    <link rel="stylesheet" href="../assets/css/style-lanyon.css">
</head>
