/* build: _sass/sticky-footer-navbar.scss */
/* http://getbootstrap.com/examples/sticky-footer-navbar/ */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* margin bottom by footer height */
    margin-bottom: 28px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* set the fixed height of the footer here */
    height: 29px;
    background-color: #eee;
}
/* custom page css */
body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 3px 0 3px 0;
    font-size: 18px;
    text-align: center;
    a {
        color: #313131;
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: none;
    }
}
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

/* TODO: 2016-06-05 move */
div.container {
    max-width: 680px;
}
