/* build: _sass/typography.scss */
.container {
    h1, h2, h3, h4, h5, h6 {
      color: #313131;
      text-rendering: optimizeLegibility;
    }
    h1 {
        text-align: center;
        margin-bottom: 28px;
    }
}
.navbar-default .navbar-brand {
    color: #313131;
    text-rendering: optimizeLegibility;
}
