/* build: _sass/variables.scss */
$white: #ffffff;

$gray-0: #eeeeee;
$gray-1: #f9f9f9; // very light gray (mostly white)
$gray-2: #cccccc; // light gray
$gray-3: #767676; // dark gray
$gray-4: #515151;
$gray-5: #313131; // very dark gray (mostly black)

// rgb( 80, 187, 247)
// hsl(202, 91%, 64%)
$apple-messages-blue: #50bbf7; // soft blue

$strong-blue: #268bd2;
