/* build: pages/miscellany/fitness/index.scss */
div.fitness {
    margin-top: 1.5rem; // distance between content and masthead

    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    // #TODO: consider img as background and text as overlay
    img {

    }
}
