/* build: pages/code/index.scss */
div.code-page {
    ul {
        font-size: 2.2rem;
        letter-spacing: 0.05rem;
        line-height: 3.4rem;
    }
    p {
        font-size: 20px;
        line-height: 30px;
    }
}
