/* build: pages/music/dave-matthews-glassmen/index.scss */
div.dmb-glassmen {
    h3, p {
        text-align: center;
    }
    div.members {
        text-align: center;
    }
    ul, p {
        font-size: 20px;
        line-height: 30px;
    }
    .yt-views {
        text-align: left;
        font-style: italic;
        font-size: 13px;
        color: $gray-2;
    }
}
