/* build: pages/miscellany/workday-percentage-clock/index.scss */
div.percentage-clock {
    h1 {
        text-align: center;
        margin-bottom: 30px;
    }
    p {
        font-size: 2.2rem;
        letter-spacing: 0.05rem;
        line-height: 3.1rem;
        margin-bottom: 1.9rem;
    }
    img {
        margin-top: 28px;
    }
}
