/* build: pages/music/blue-in-green/index.scss */
div.blue-in-green {
    h2, p {
        text-align: center;
    }
    p {
        font-size: 1.8rem;
    }
    #views {
        text-align: left;
        font-style: italic;
    }
}
