/* build: _sass/02-lanyon/00-variables.scss */

// https://css-tricks.com/snippets/css/better-helvetica/
$sans-serif-font-family:
    Avenir, "proxima-nova",
    "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica,
    Arial, "Lucida Grande", sans-serif;

$gray-0: #eeeeee;
$gray-1: #f9f9f9; // very light gray (mostly white)
$gray-2: #cccccc; // light gray
$gray-3: #767676; // dark gray
$gray-4: #515151;
$gray-5: #313131; // very dark gray (mostly black)

$theme-base-08-color: #ac4142; // dark moderate red
$alizarin-crimson: #e74c3c; // bright red
